# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.vscode

# virtual environment directory
covid19_vaccines_app/env/
env/

# environment variables
*.env

# python compiled bytecode
*.pyc