{% extends '../base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align:center;">All Sponsors in a Country</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    <br />
    <div>
        <p>Please provide a country code:</p>
        <input name="countryCode" type="text" id="countryCode" required/>
        <button onclick="customRedirect()" class="btn btn-primary">submit</button>
        <script>
            function customRedirect() {
                let url = "/sponsorsincountry/" + document.getElementById("countryCode").value + "/";
                window.location.href=url;
            }
       </script>
    </div>
    <table style="width:100%">
        <tr>
            <th>Sponsor ID</th>
            <th>Sponsor Name</th>
            <th>Sponsor Country</th>
          </tr>
    {% for sponsor in sponsorsincountry_list %}
                      <tr>
                          <td> {{sponsor.sponsorid}}</td>
                          <td>{{sponsor.sponsorname}}</td>
                          <td>{{sponsor.sponsorcountry}}
                            <br></td>
                        </tr>
            <br>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}